<div class="game-container">
  <div class="side-menu">
    <h2 class="mat-h2" *ngIf="(placedShips.length<5)">Ships</h2>

    <mat-radio-group>
      <mat-radio-button *ngFor="let ship of ships" (click)="selectShip(ship)" [value]="ship" color="primary">
        <div class="ship"
            [style.width.px]="ship.width"
            [style.height.px]="ship.height"
            [style.background]="ship.color"
            (click)="selectShip(ship)"
            (dblclick)="rotate(ship)">
            <div class="mat-body" [style.color]="white" [style.transform]="'rotate(' + getRotationAngle(ship) + 'deg)'">
              {{ship.type}}
            </div>
          </div>
      </mat-radio-button>
    </mat-radio-group>

    <h2 class="mat-h2">Moves counter: {{counterMoves}}</h2>
    <h2 class="mat-h2">Ships remaining: {{survivingShips}}</h2>
    <h2 class="mat-h2">Options</h2>
      <div class="option">
        <mat-slide-toggle [(checked)]="showProbas" (change)="showprobas()" color="primary">Show percentages</mat-slide-toggle>
      </div>
      <div class="option">
        <button mat-raised-button color="primary" (click)="nextMove()">Move</button>
      </div>
      <div class="option">
        <button mat-raised-button color="primary" (click)="restartGame()">Restart</button>
      </div>
  </div>

  <div class="board" *ngIf="!showProbas">
    <mat-grid-list cols=10 rowHeight=50>
      <mat-grid-tile colspan=1 rowspan=1 [style.background]="item.color" *ngFor="let item of tileList; index as i;" (click)="selectTile(item)">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

<div class="board" *ngIf="showProbas">
  <mat-grid-list cols=10 rowHeight=50>
    <mat-grid-tile colspan=1 rowspan=1 [style.background]="getColour(min((item*100).toFixed(2),100),i)" *ngFor="let item of probasBoard; index as i;" (click)="selectTile(item)">{{min((item*100).toFixed(2),100)}}%
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="log-container" *ngIf="false">
  <h2 class="mat-h2">Logs</h2>
  <div class="logs">
    <p class="mat-body" *ngFor="let message of loggedMessages">[ {{ message }} ]</p>
  </div>
</div>
