
<div class="side-menu">
  <h2 class="mat-h2">Ships</h2>

  <div class="ship"
    *ngFor="let ship of ships"
    [style.width.px]="ship.width"
    [style.height.px]="ship.height"
    [style.background]="ship.color"
    (click)="selectShip(ship)"
    (dblclick)="rotate(ship)">
    <div class="mat-body" [style.transform]="'rotate(' + getRotationAngle(ship) + 'deg)'">
      {{ship.type}}
    </div>
  </div>

  <h2 class="mat-h2">Options</h2>
  <mat-slide-toggle (change)="showprobas()">Show percentages</mat-slide-toggle>
  <button mat-raised-button color="primary" (click)="restartGame()">Restart</button>
</div>

<div class="board" *ngIf="!showProbas">
  <mat-grid-list cols=10 rowHeight=50>
    <mat-grid-tile colspan=1 rowspan=1 [style.background]="item.color" *ngFor="let item of tileList; index as i;" (click)="selectTile(item)">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="board" *ngIf="showProbas">
  <mat-grid-list cols=10 rowHeight=50>
    <mat-grid-tile colspan=1 rowspan=1 [style.background]="getColour(item)" *ngFor="let item of probasBoard; index as i;" (click)="selectTile(item)">{{(item*100).toFixed(2)}}%
    </mat-grid-tile>
  </mat-grid-list>
</div>
