
::ng-deep .mat-grid-list{
  max-width:800px;
  margin: auto;
}

.ship {
  border-radius: 5px;
  margin: 2%;
  padding: 5%;
  text-align: center;
}

.ship:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.side-menu{
  width:20%;
  min-width: 150px;
  max-width: 200px;
  height:100%;
  float:left;
}

.board{
  margin-left: 200px;
  min-width: 600px;
  width: 60%;
}

.option {
  margin-top: 10px;
}

.log-container {
  margin-left: 20px;
  width: 10%;
}

.logs {
  height: 100%;
  overflow-y: auto;
}

.logs::-webkit-scrollbar {
  display: none;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
}
