
::ng-deep .mat-grid-list{
  max-width:800px;
  margin: auto;
}

.ship {
  background: lightblue;
  margin: 2%;
  padding: 5%;
  text-align: center;
}

.side-menu{
  width:20%;
  height:100%;
  float:left;
}

.board{
  margin-left:25%;
}
