
::ng-deep .mat-grid-list{
  max-width:800px;
  margin: auto;
}

.ship {
  background: lightblue;
  margin: 2%;
  padding: 5%;
  text-align: center;
  /* transform-origin: top left */
}

.ship:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.side-menu{
  width:20%;
  height:100%;
  float:left;
}

.board{
  margin-left:25%;
}
